.page-container {
    width: 100%;
  }
  
  .chains {
    width: 100%;
    display: block;
    overflow-x: scroll;
  }
  
  .chains mat-card {
    display: inline-block;
  }
  
  mat-card {
    width: 20%;
    height: 20%;
    margin: 30px;
  }