/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.api-error-message {
    font-weight: bold;
    color: red;
    font-size: large;
}

.container {
    margin: 20px;
}

.button-container {
    margin-top: 20px;
}